<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${add} ? 'Create A Film' : 'Edit A Film'" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" />
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">BIOSKOP API</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">TEAM D</span>
            </button>
        </div>
        <div class="navbar-header">

            <a class="navbar-brand" th:href="@{/home}">Home</a>
            <a class="navbar-brand" th:href="@{/films}">Film</a>
            <a class="navbar-brand" th:href="@{/booking}">Booking</a>
            <a class="navbar-brand" th:href="@{/schedule}">Schedule</a>
            <a class="navbar-brand" th:href="@{/users}">User</a>
            <a class="navbar-brand" th:href="@{/seats}">Seat</a>
        </div>
    </div>
</nav>
    <div align="center">
        <div class="container-fluid">
            <div class="text-center">
        <h1 th:text="${add} ? 'Create A Film:' : 'Edit A Film:'" />
            </div>
        </div>
    <br/><br/>
   <div>
    <form th:action="${add} ? @{/films/add} : @{/films/edit/{filmId}(filmId=${filmId})}" th:object="${films}" method="POST">
        <table border="5" cellpadding="10">
          <tr th:if="${filmId}">
            <td>ID</td>
            <td th:utext="${filmId}">...</td>
        </tr>
        <tr>
            <td>Judul</td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td>Status</td>
            <td><input type="number" th:field="*{isPlaying}" /></td>
        </tr>
    </table>
        <br/><br/>
    <input type="submit" th:value="${add} ? 'Create' : 'Update'" />
        <br/><br/>
        <div>
            <a th:href="@{/films}">Back to All Films</a>
        </div>
        </form>
    </div>
<br/>
<div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />
</div>
</body>
</html>