<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body class="bg-light text-dark">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">BIOSKOP API</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">TEAM D</span>
            </button>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/home}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/films}">Film</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/booking}">Booking</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/schedule}">Schedule</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/users}">User</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/seats}">Seat</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid text-center">
    <div class="text-center">
        <h1>[[${pageTitle}]]</h1>
    </div>

    <form th:action="@{/schedule/save}" method="post" th:object="${schedules}"
          style="max-width: 700px; margin: 0 auto; ">
        <input type="hidden" th:field="*{scheduleId}">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row mt-3">
                <label class="col-sm-4 col-form-label">Film ID:</label>
                <div class="col-sm-8">
                    <select class="form-select" aria-label="Default select example" th:field="*{films}">
                        <option class="text-capitalize" th:each="film:${films}" th:text="${film.filmId} +' '+ ${film.name}" th:value="${film.filmId}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group row mt-3">
                <label class="col-sm-4 col-form-label">Seat Number:</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{seats.seatId}" class="form-control" maxlength="45"/>
                </div>
            </div>

            <div class="form-group row mt-3">
                <label class="col-sm-4 col-form-label">Date Show:</label>
                <div class="col-sm-8">
                    <input type="date" class="form-control" th:field="*{dateShow}"/>
                </div>
            </div>

            <div class="form-group row mt-3">
                <label class="col-sm-4 col-form-label">Show Start:</label>
                <div class="col-sm-8">
                    <input type="time" th:field="*{showStart}" class="form-control" required minlength="3" maxlength="15"/>
                </div>
            </div>

            <div class="form-group row mt-3">
                <label class="col-sm-4 col-form-label">Show End:</label>
                <div class="col-sm-8">
                    <input type="time" th:field="*{showEnd}" class="form-control" required minlength="3" maxlength="15"/>
                </div>
            </div>

            <div class="form-group row mt-3">
                <label class="col-sm-4 col-form-label">Price:</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{price}" class="form-control" required minlength="3" maxlength="15"/>
                </div>
            </div>

            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary m-2">Save</button>
                <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
            </div>
        </div>
    </form>

</div>
<script type="text/javascript">
    function cancelForm(){
        window.location = "[[@{/schedule}]]"
    }
</script>
</body>
</html>