<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script src="https://kit.fontawesome.com/2e9f0c3a28.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
        <div class="navbar-header" id="content">
            <a class="navbar-brand" href="#">BIOSKOP API</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                TEAM D
            </button>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/home}">Home</a>
            <a class="navbar-brand" th:href="@{/films}">Film</a>
            <a class="navbar-brand" th:href="@{/booking}">Booking</a>
            <a class="navbar-brand" th:href="@{/schedule}">Schedule</a>
            <a class="navbar-brand" th:href="@{/users}">User</a>
            <a class="navbar-brand" th:href="@{/seats}">Seat</a>
        </div>
    </div>
</nav>
<div>
<div>
    <table style="max-width: 1120px; margin: 0 auto; " class="text-center align-center table">
        <thead style="thead-dark">
        <tr>
            <th>ID</th>
            <th>Nomor Kursi</th>
            <th>Nama Studio</th>
            <th>Status Kursi</th>
            <th>Fiture</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="seats : ${seats}">
            <tr>
                <td> [[${seats.seatId}]] </td>
                <td> [[${seats.seatNumber}]] </td>
                <td> Teater [[${seats.studioName}]] </td>
                <td> [[${seats.isAvailable}]] </td>
                <td>
                    <a class="btn btn-primary"  th:href="@{'/seats/update/' + ${seats.seatId}}"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-danger" th:href="@{'/seats/delete/' + ${seats.seatId}}"><i class="fa-solid fa-trash-can"></i></a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>